*.ckpt
*.out
*.pyc
taming*/
vqgan_imagenet_f16_16384.yaml
test_doodles/
sketch_env/
quickdraw/
outputs/
CLIP/
wandb/
.quickdrawcache/
.history/
steps/
thrash/
rendered_256x256.7z
256x256/
test_outputs/